<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<div th:replace="common/header :: header_fragment(title=#{text.setItemMaster})"></div>
	<main>
		<div class="container">
			<div class="container">
				<form th:action="@{'/setItem/master/submit'}" class="row g-3" th:object="${setItemForm}" method="post">
					<div class="col-4">
						<label for="tenpo" class="form-label" th:text="#{text.tenpo}"></label>
						<select class="form-select" th:field="*{setItem.tenpoCode}" th:if="${!setItemForm.editFlg}">
							<option th:each="tenpo : ${tenpoList}" th:value="${tenpo.code}" th:text="${tenpo.name}">
							</option>
						</select>
						<span th:if="${setItemForm.editFlg}">
							<input type="hidden" class="form-control" th:field="*{setItem.tenpoCode}">
							<input type="text" class="form-control" th:value="*{tenpoName}"
								th:readonly="${setItemForm.editFlg}">
						</span>
					</div>
					<div class="col-4">
						<label for="setItemCode" class="form-label" th:text="#{text.setItemCd}"></label>
						<input type="number" class="form-control" th:field="*{setItem.code}" placeholder="0123456789"
							th:readonly="${setItemForm.editFlg}" maxlength="10">
					</div>
					<div class="col-4">
						<label for="setItemName" class="form-label" th:text="#{text.setItemName}"></label>
						<input type="text" class="form-control" th:field="*{setItem.name}" placeholder="キリンセット">
					</div>
					<span class="error" th:if="${#fields.hasErrors('setItem.tenpoCode')}"
						th:errors="*{setItem.tenpoCode}"></span>
					<span class="error" th:if="${#fields.hasErrors('setItem.code')}" th:errors="*{setItem.code}"></span>
					<div class="container mb-4 overflow-auto">
						<table class="table">
							<thead class="sticky-top">
								<tr>
									<th scope="col" class="text-center btn-th"></th>
									<th scope="col" class="text-center code-th" th:text="#{text.baraItemCode}"></th>
									<th scope="col" class="text-center name-th" th:text="#{text.baraItemName}"></th>
									<th scope="col" class="text-center quantity-th" th:text="#{text.suRyo}"></th>
									<th scope="col" class="text-center price-th" th:text="#{text.tanka}"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="edit align-middle" th:each="baraItem, st : *{baraItemList}">
									<td class="text-center">
										<button class="btn btn-light btn-sm" type="button" name="deleteBtn"
											th:text="#{text.delete}"></button>
									</td>
									<td>
										<input type="text" class="form-control"
											th:field="*{baraItemList[__${st.index}__].code}" maxlength="10" />
										<span class="error" th:if="${#fields.hasErrors('baraItemList[__${st.index}__].code')}"
											th:errors="*{baraItemList[__${st.index}__].code}"></span>
									</td>
									<td>
										<input type="text" class="form-control"
											th:field="*{baraItemList[__${st.index}__].name}" />
									</td>
									<td>
										<input type="number" class="form-control"
											th:field="*{baraItemList[__${st.index}__].quantity}" />
									</td>
									<td>
										<input type="number" step="0.01" class="form-control"
											th:field="*{baraItemList[__${st.index}__].price}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-2">
								<button type="button" class="btn btn-dark" onclick="add()"
									th:text="#{text.meisiAdd}"></button>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-dark" th:text="#{text.confirm}"></button>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-dark" onclick="history.back()"
									th:text="#{text.back}"></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<script>
		// 削除ボタン処理追加
		let btns = document.querySelectorAll("button[name='deleteBtn']")
		for (let i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", deleteRow)
		}

		// 明細行を追加する
		function add() {
			let data = document.querySelector("tbody")

			let num = data.children.length

			const label = "baraItemList"

			let newRow = document.createElement("tr")
			newRow.className = "edit align-middle"

			let tdButton = document.createElement("td")
			tdButton.className = "text-center"
			let newButton = document.createElement("button")
			newButton.className = "btn btn-light btn-sm"
			newButton.type = "button"
			newButton.name = "deleteBtn"
			newButton.innerHTML = "削除"
			newButton.addEventListener("click", deleteRow)

			tdButton.appendChild(newButton)
			newRow.appendChild(tdButton)

			let tdCode = document.createElement("td")
			let newCode = document.createElement("input")
			newCode.className = "form-control"
			newCode.type = "text"
			newCode.id = label + num + ".code"
			newCode.name = label + "[" + num + "]" + ".code"

			tdCode.appendChild(newCode)
			newRow.appendChild(tdCode)

			let tdName = document.createElement("td")
			let newName = document.createElement("input")
			newName.className = "form-control"
			newName.type = "text"
			newName.id = label + num + ".name"
			newName.name = label + "[" + num + "]" + ".name"

			tdName.appendChild(newName)
			newRow.appendChild(tdName)

			let tdQuantity = document.createElement("td")
			let newQuantity = document.createElement("input")
			newQuantity.className = "form-control"
			newQuantity.type = "text"
			newQuantity.id = label + num + ".quantity"
			newQuantity.name = label + "[" + num + "]" + ".quantity"

			tdQuantity.appendChild(newQuantity)
			newRow.appendChild(tdQuantity)

			let tdPrice = document.createElement("td")
			let newPrice = document.createElement("input")
			newPrice.className = "form-control"
			newPrice.type = "text"
			newPrice.id = label + num + ".price"
			newPrice.name = label + "[" + num + "]" + ".price"

			tdPrice.appendChild(newPrice)
			newRow.appendChild(tdPrice)
			data.appendChild(newRow)
		}

		// 選択行を削除する
		function deleteRow(e) {
			e.srcElement.parentElement.parentElement.remove()

		}	</script>
	<style>
		.btn-th {
			width: 80px;
		}

		.code-th {
			width: 150px;
		}

		.name-th {
			min-width: 200px;
			width: auto;
		}

		.quantity-th {
			width: 110px;
		}

		.price-th {
			width: 130px;
		}
	</style>
</body>

</html>