<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<div th:replace="common/header :: header_fragment(title=#{text.setItemMaster})"></div>
	<main>
		<div class="container">
			<div class="container">
				<form class="row g-3" th:action="@{'/setItem/master/list'}" th:object="${setItemSearchForm}">
					<div class="col-4">
						<label for="tenpo" class="form-label" th:text="#{text.tenpo}"></label>
						<select id="tenpo" name="tenpoCode" class="form-select">
							<option th:each="tenpo : ${tenpoList}" th:value="${tenpo.code}" th:text="${tenpo.name}"
								th:field="*{tenpoCode}">
							</option>
						</select>
					</div>
					<div class="col-4">
						<label for="setItemCode" class="form-label" th:text="#{text.setItemCd}"></label>
						<input type="number" class="form-control ime-off" id="setItemCode" name="setItemCode"
							th:field="*{setItemCode}" placeholder="1234567890" maxlength="10">
					</div>
					<div class="col-4">
						<label for="setItemName" class="form-label" th:text="#{text.setItemName}"></label>
						<input type="text" class="form-control ime-on" id="setItemName" name="setItemName"
							th:field="*{setItemName}" placeholder="キリンセット">
					</div>
					<span class="error"th:if="${#fields.hasErrors('tenpoCode')}" th:errors="*{tenpoCode}"></span>
					<span class="error"th:if="${#fields.hasErrors('setItemCode')}" th:errors="*{setItemCode}"></span>
					<div class="col-2">
						<button type="submit" class="btn btn-dark" name="mode" th:text="#{text.search}"
							value="search"></button>
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-dark" name="csv" th:text="#{text.csvExport}"
							value="csv"></button>
					</div>
				</form>
				<p th:text="${message}"></p>
			</div>
			<div class="container mt-1">
				<form method="post" th:object="${setItemListForm}" th:action="@{'/setItem/master/delete'}">
					<div class="container mb-4 overflow-auto" style="max-height:55vh;">
						<table class="table">
							<thead class="sticky-top">
								<tr>
									<th scope="col" class="text-center delete-th" th:text="#{text.delete}"></th>
									<th scope="col" class="text-center no-th" th:text="#{text.no}"></th>
									<th scope="col" class="text-center tenpo-th" th:text="#{text.tenpoCode}"></th>
									<th scope="col" class="text-center set-item-code-th" th:text="#{text.setItemCode}">
									</th>
									<th scope="col" class="text-center set-item-name-th" th:text="#{text.setItemName}">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="edit" th:each="setItem, st : *{setItemList}">
									<td class="text-center click-check">
										<input class="form-check-input" type="checkbox"
											th:field="*{setItemList[__${st.index}__].check}">
									</td>
									<th class="text-center" scope="row">
										<span th:text="${st.count}"></span>
									</th>
									<td class="text-center">
										<span th:text="${setItem.tenpoCode}"></span>
										<input type="hidden" th:field="*{setItemList[__${st.index}__].tenpoCode}" />
									</td>
									<td class="text-center">
										<a href="#" th:text="${setItem.code}"
											th:href="@{/setItem/master/detail(tenpoCode=${setItem.tenpoCode},setItemCode=${setItem.code})}"></a>
										<input type="hidden" th:field="*{setItemList[__${st.index}__].code}" />
									</td>
									<td class="">
										<span th:text="${setItem.name}"></span>
										<input type="hidden" th:field="*{setItemList[__${st.index}__].name}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-2">
								<button type="button" class="btn btn-dark" id="selectAllBtn" onclick="checkAll(true)"
									th:text="#{text.selectAll}"></button>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-dark" id="clearAllBtn" onclick="checkAll(false)"
									th:text="#{text.unselectAll}"></button>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-dark"
									onclick="location.href='/setItem/master/detail'" th:text="#{text.add}"></button>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-dark" th:text="#{text.delete}"></button>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-dark" onclick="location.href='/'"
									th:text="#{text.back}"></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<script>
		// 全選択、全解除
		function checkAll(boolean) {
			let elements = document.querySelectorAll('.form-check-input')
			for (let i = 0; i < elements.length; i++) {
				elements[i].checked = boolean;
			}
		}

		// 削除セルクリックでチェックボックス操作
		function check(e) {
			e.srcElement.children[0].checked = !e.srcElement.children[0].checked
		}

		// 行クリックで編集画面へ遷移
		function edit(e) {
			if (e.srcElement.className.indexOf('click-check') !== -1) {
				return
			}
			let setItemCode = e.srcElement.parentElement.children[3].innerHTML
		}

		// TODO 行にクリックイベント付与
		let editElements = document.querySelectorAll('.edit')
		let checkElements = document.querySelectorAll('.click-check')

		for (let i = 0; i < editElements.length; i++) {
			editElements[i].onclick = edit
		}

		for (let i = 0; i < checkElements.length; i++) {
			checkElements[i].onclick = check
		}
	</script>
	<style>
		.delete-th {
			min-width: 50px;
		}

		.no-th {
			min-width: 50px;
		}

		.tenpo-th {
			min-width: 85px;
		}

		.set-item-code-th {
			min-width: 120px;
		}

		.set-item-name-th {}
	</style>
</body>

</html>