<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment"></head>

<body>
	<div th:replace="common/header :: header_fragment(title='デモページ')"></div>
	<main>
		<div class="container">
			<div class="container">
				<div class="row mt-4">
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/demo/uploaded'"
							th:text="アップロードデモ"></button>
					</div>
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/demo/sql'"
							th:text="DB接続デモ"></button>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/demo/edit'"
							th:text="編集デモ（店舗）"></button>
					</div>
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/demo/editTenpoList'"
							th:text="編集デモ（店舗リスト）"></button>
					</div>
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/demo/jpql'"
							th:text="jpqlデモ（店舗）"></button>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<button class="btn btn-light btn-lg" onclick="location.href='/democsv'"
							th:text="csv出力デモページへ"></button>
					</div>
				</div>
			</div>
		</div>
<!--		<p th:text="${genderMap.get('__${code}__')}"></p>
-->
		<p th:text="${code}"></p>
	</main>
</body>

</html>