<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment"></head>

<body>
	<div th:replace="common/header :: header_fragment(title='ロジレス認証完了画面')"></div>
	<main>
		<div class="container">
			<h1>ロジレス連携に成功した！！！</h1>
			<p th:text="'statusCode：　'+${statusCode}"></p>
			<p th:text="'accessToken：　'+${@sessionComponent.accessToken}"></p>
			<p th:text="'refreshToken：　'+${@sessionComponent.refreshToken}"></p>
			<button class="btn btn-light btn-lg" onclick="location.href='/logiless'"
				th:text="ロジレスメニューに戻る"></button>

		</div>
	</main>

</body>

</html>